body{
	background-color: rgb(99, 162, 210);
	margin: auto;
	font-family: 'Thai Sarabun', sans-serif;
	overflow: auto;
	background: rgb(34,108,91);
	background: radial-gradient(circle, rgb(106, 128, 177) 0%, rgb(100, 99, 186) 35%, rgb(95, 110, 196) 59%, rgb(103, 150, 217) 100%);
	animation: gradient 25s ease infinite;
	background-size: 400% 400%;
	background-attachment: fixed;
	min-height: 100vh;
	justify-content: center;
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
/* RAINBOW COLOR */
  /* บนมุมซ้ายขวา */
  .navbar{
	padding:90px;
	font-family: 'Itim', cursive;
	background-color: white;
	-webkit-box-shadow: -5px 7px 8px 0px rgba(237, 229, 229, 0.58);
	-moz-box-shadow: -5px 7px 8px 0px rgba(40, 38, 38, 0.58);
	box-shadow: -5px 7px 8px 0px rgba(38, 37, 37, 0.58);	
  }
  .navbar-left,
  .navbar-right{
	display: flex;
	align-items: center;	
}
  .navbar-left div{
	text-transform: uppercase;
	font-weight: 800;
	padding: 20px;
  }	
  .add-data{
	font-weight: 50px;
  }
  /* ระยะห่างมุมซ้ายและขวา */
  .navbar-left > * ,
  .navbar-right > * {
	margin:10px;
  }
  /* บนมุมขวา */
  .button{
	display:inline-block;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 80%;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	transition: .2s ease-in-out;
	background: url(https://img.icons8.com/external-bearicons-detailed-outline-bearicons/1x/external-export-graphic-design-bearicons-detailed-outline-bearicons.png) center / 65% no-repeat;
  }
  .button-right{
	display:flex;
	align-items: center;
	font-weight: 500;
  }
  /* DROP DOWN Table */
  /*Styling Selectbox*/
  .dropdown-items{
    display: block;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    color: black;
}
a:hover {
    background-color: rgb(218, 218, 218);
  }
  .dropdown {
	width: 100px;
	display: inline-block;
	background-color: #44db53;
	border-radius: 5px;
	box-shadow: 0 0 2px rgb(204, 204, 204);
	transition: all .5s ease;
	position: relative;
	font-size: 14px;
	color: #474747;
	text-align: center
  }
  .dropdown .select {
	  cursor: pointer;
	  display: block;
	  padding: 10px
  }
  .dropdown .select > i {
	  font-size: 13px;
	  color: #888;
	  cursor: pointer;
	  transition: all .3s ease-in-out;
	  float: right;
	  line-height: 20px
  }
  .dropdown:hover {
	  box-shadow: 0 0 4px rgb(204, 204, 204)
  }
  .dropdown:active {
	  background-color: #b4f6bd
  }
  .dropdown.active:hover,
  .dropdown.active {
	  box-shadow: 0 0 4px rgb(204, 204, 204);
	  border-radius: 2px 2px 0 0;
	  background-color: #8dec99
  }
  .dropdown.active .select > i {
	  transform: rotate(-90deg)
  }
  .dropdown .dropdown-menu {
	  position: absolute;
	  background-color: #fff;
	  width: 100%;
	  left: 0;
	  margin-top: 1px;
	  box-shadow: 0 1px 2px rgb(204, 204, 204);
	  border-radius: 0 1px 2px 2px;
	  overflow: hidden;
	  display: none;
	  max-height: 144px;
	  overflow-y: auto;
	  z-index: 9;
	  min-width: 0rem;
	  text-align: center;
  }
  .dropdown .dropdown-menu li {
	  padding: 10px;
	  transition: all .2s ease-in-out;
	  cursor: pointer
  } 
  .dropdown .dropdown-menu {
	  padding: 0;
	  list-style: none 
  }
  .dropdown .dropdown-menu li:hover {
	  background-color: #e7e890
  }
  .dropdown .dropdown-menu li:active {
	  background-color: #e7e890
  }
  /*END Styling Selectbox*/

 /* BBCAL DATA Animated Effect */
.content{
	position: relative;
}
.content h1{
	position: absolute;
	transform:translate(-50%,-50%);
	font-size:66;
	padding-left: 390%;
}
.content h1:nth-child(1){
	color:transparent;
	-webkit-text-stroke: 2px #1e23b8;
}
.content h1:nth-child(2){
	color:#1e23b8;
	animation:animate 2s ease-in-out infinite;
}
@keyframes animate{
0% , 100%{
	clip-path:polygon(0% 45%,15% 44%,32% 50%,54% 60%,70% 61%,84% 59%,100% 52%,100% 100%,0% 100%)
}
50%{	
	clip-path:polygon(0% 60%,16% 65%,34% 66%,51% 62%,67% 50%,84% 45%,100% 46%,100% 100%,0% 100%)
}
}
/* END BBCAL DATA Animated Effect */
/* TABLE */
main.table{
	backdrop-filter: blur(10px);
	box-shadow: 0.4rem .8rem #0005;	
	border-radius: .8rem;
	background-color: #fff5;
	overflow: hidden;
}
/* TABLE */
/* TABLE HEADER */
.table_header{
	width: 100%;
	height:9%;
	background-color: #fff4;
	padding: .8rem 1rem;

	display:flex;
	justify-content: space-between;
	align-items: center;
}
th {
	position: sticky;
	top: 0;
	background-color: rgb(255, 255, 255);
	padding: .8rem 1rem;
	align-items: center;
	z-index: 2;
  }
/* TABLE HEADER */
/* TABLE HEADER SEARCH */
.table_header .input-group{
	width: 35%;
	height: 100%;
	background-color: #fff5;
	padding: 0 .8rem;
	border-radius: 2rem;

	display:flex;
	justify-content:center;
	align-items:center;

	transition: .2s;
}
.table_header .input-group:hover{
	width: 45%;
	background-color: #fff7;
}
.table_header .input-group img{
	width: 3rem;
	height: 3rem;
}
.table_header .input-group input{
	width: 85%;
	padding:0 .5rem 0 .3rem;
	background-color: transparent;
	border:none;
	outline:none;
}
/* TABLE HEADER SEARCH */
/* TABLE BODY */
.table_body{
	width: 97%;
	max-height: calc(89% - 1.6rem);
	background-color: rgba(255, 255, 255, 0.769);
	margin: .5rem auto;
	border-radius: .6rem;

	overflow: auto;
    overflow: overlay;
}
.table_body::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
  }
  
  .table_body::-webkit-scrollbar-thumb {
	background-color: #0004;
	border-radius: .5rem;
  }
  
  .table_body::-o-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
  }
  
  .table_body::-o-scrollbar-thumb {
	background-color: #0004;
	border-radius: .5rem;
	visibility: hidden;
  }
  
  .table_body:hover::-webkit-scrollbar-thumb,
  .table_body:hover::-o-scrollbar-thumb {
	visibility: visible;
  }
  .table_body td{
	width: 36px;
	height: 36px;
	margin-right: .5rem;
	border-radius: 50%;

	vertical-align: middle;
	 
}
table,th,td{
	border-collapse: collapse;
	padding: 1.4rem;
	text-align: left;
}
tr:nth-child(-n+3) {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
  }
/* TABLE BODY */
/* TABLE BODY HIDE */
tbody tr.hide{
	opacity:0;
	transform: translateX(100%);
}
tbody tr{
	--delay: .1s;
	transition: .5s ease-in-out var(--delay), background-color 0s;
}
	tbody tr td,
	tbody tr td p{
		transition: .2s ease-in-out;
	}
	tbody tr.hide td,
	tbody tr.hide td p{
		padding: 0;
		font:0 / 0 sans-serif;
		transition: .2s ease-in-out;
	}
	tbody tr.hide td{
		display: none;
	}
/* TABLE BODY HIDE */
table{
	width: 100%;
}
@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}
/* SEND BUTTON */
.send-button{
	display: inline-flex;
	align-items: center;

}
.send-button-btn{
	display:inline-block;
		width: 3.5rem;
		height: 3.5rem;
		border-radius: 80%;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
		transition: .2s ease-in-out;
		padding: 1.9rem;
		background: url(https://cdn-icons-png.flaticon.com/512/25/25304.png) center / 65% no-repeat;
}
.send-button .send-button-btn:hover{
	background-color: #37d165;
	transform: scale(1.15);
}
/* SEND BUTTON */
/* EXPORT FILE BUTTON */

.export_file{
	position: relative;
}
.export_file-text {
	margin-left: 1rem;
  }
.export_file .export_file-btn{
		display:inline-block;
		width: 3.5rem;
		height: 3.5rem;
		border-radius: 80%;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
		transition: .2s ease-in-out;
		padding: 2rem;
		background: url(https://img.icons8.com/external-bearicons-detailed-outline-bearicons/1x/external-export-graphic-design-bearicons-detailed-outline-bearicons.png) center / 65% no-repeat;
}
.export_file .export_file-btn:hover{
		background-color: #d5e941;
		transform: scale(1.15);
}
.export_file input{
		display: none;
}
.export_file .export_file-options{
		position:absolute;
		right: 0;

		width: 12rem;
		border-radius: .5rem;
		overflow: hidden;
		text-align: center;

		background-color: #f2f2f2;
		opacity: 0;
		transform: scale(.0);
		transform-origin: top right;

		box-shadow: 0 .2rem .5rem #0004;


		transition: .2s;
}
.export_file input:checked + .export_file-options{
		opacity: 1;
		transform: scale(1);
		z-index:100;
}
.export_file .export_file-options label{
		display: block;
		width: 100%;
		padding: .6rem 0;
		background-color: #f2f2f2;

		display: flex;
		justify-content: space-around;
		align-items: center; 

		transition: .2s ease-in-out;
		border-radius: .5rem;
}
.export_file .export_file-options label:first-of-type{
		padding:1rem 0;
		background-color: #86e49d !important;

}
.export_file .export_file-options label:hover{
		transform: scale(1.05);
		background-color: #bed730;
		border-radius: .1rem;
		cursor: pointer;
}
.export_file .export_file-options img{
		width: 2rem;
		height: auto;
}

/* EXPORT FILE BUTTON */
h2{
	text-align: center;
}